.about {
    margin-bottom: 400px;

    .container {
        background-color: #2C343E;
        width: 1280px;
        height: 580px;
        border-radius: 8px;
    }

    &__heading {
        margin: 0;
        padding: 0;
        padding-bottom: 33px;
        color: #FEFCF7;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        padding-top: 110px;
    }

    &__text {
        margin: 0;
        padding: 0;
        padding-left: 360px;
        padding-bottom: 86px;
        width: 540px;
        color: #FEFCF7;
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        opacity: 0.8;
    }

    &__list {
        display: flex;
        margin-left: 45px;
    }

    &__item +&__item {
        margin-left: 30px;
    }

    &__item {
        width: 350px;
        background-color: #0E8784;
        border-radius: 8px;
    }

    &__icon {
        margin-left: 136px;
        margin-top: 72px;
        margin-bottom: 56px;
    }

    &__item__heading {
        margin: 0;
        padding: 0;
        padding-bottom: 24px;
        color: #FEFCF7;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    &__item__text {
        margin: 0;
        padding: 0;
        padding-left: 50px;
        width: 255px;
        color: #FEFCF7;
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-bottom: 60px;
    }
}